* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

.link {
    margin-left: 2rem;
    font-size: 1.15em;
    color: white !important;
}

.right-hor {
    position: absolute;
    right: 0;
    margin-top: 1rem;
}

button {
    width: 100% !important;
}

#contact {
    color: black !important;
    padding-bottom: 3rem !important;
}

.pd {
    padding-top: 0.5rem;
    text-align: center;
}

.mar {
    margin-right: 0.5rem;
}

.top-bar {
    color: white;
    width: 100%;
    padding: 2rem;
}

.personal-info {
    margin-bottom: 1rem;
}

.half-column {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.name {
    text-decoration: solid;
    font-size: 1.8em;
}

.profession {
    font-size: 1.25em;
}

.padd {
    padding-left: 2rem;
    text-align: center;
}

.marg {
    margin-bottom: 2rem;
}

.icon {
    font-size: 1.75em !important;
    color: white !important;
    margin-right: 1.5rem;
}

.background-image {
    width: 100%;
    height: 50rem;
}

.projects {
    background-color: black;
}

.subheading {
    margin-top: 0 !important;
    margin-bottom: 3rem;
    padding-top: 2rem !important;
    text-align: center;
    color: white;
}

.project-name {
    font-size: 1.25em;
    text-align: center;
    color: black;
}

.project-image {
    width: 100%;
    height: 20rem;
}

.right {
    text-align: right !important;
}

.rt {
    text-align: right !important;
}

.about {
    background-color: white !important;
}

#about {
    color: black;
}

.about-info {
    padding-top: 3rem;
    padding-right: 3rem;
    color: white;
    font-size: 1.1vw;
}

.about-extra {
    padding-top: 3rem;
    font-size: 1.1vw;
    color: white;
    padding-left: 3rem;
}

.lang {
    width: 11rem;
    height: 11rem;
    margin: 3rem;
}


.white-text {
    color: white;
    text-align: center;
}

.project-tech {
    text-align: center;
    width: 100%;
    height: 20rem;
    background-color: black;
    color: white;
    padding: 0.5rem;
    position: absolute;
    z-index: 1;
    top: 0;
    opacity: 0.8;
}

.rel {
    position: relative;
    margin-bottom: 2rem;
}

.tech {
    display: block;
}

.project {
    position: relative !important;
}

.me {
    height: 22rem;
    width: 19rem;
    border: double 4px black;
}

.cent {
    text-align: center !important;
}

.inn {
    padding: 0 2rem !important;
}